<%= render "shared/header" %>
<div class="users-list-wrapper">
<h1 class="page-title">ユーザーの一覧ページ</h1>
<div class="red-line"></div>

<div class="users-list">
  <% @users.each do |user| %>
    <li><%= link_to image_tag(user.avatar, class: :profile__img), user_path(user.id) %></li>
    <li><%= link_to user.last_name %></li>
    <li><%= link_to user.prefecture %></li>
    <li><%= link_to user.business_name %></li>
    <li><%= link_to user.profile %></li>
  <% end %>
</div>
</div>
<div class="users-list-end-btn">
  <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
</div>

<%= render "shared/footer" %>