<%= render "shared/header" %>
<div class="main">
<div class="users-main">
  <div class="users-list-wrapper">
    <h1 class="page-title">生産者の一覧ページ</h1>
    <div class="red-line"></div>
      <div class="users_lists">
        <div class="users-list">
          <% @users.each do |user| %>
          <% if user.kind == "1" %>
          <div class="farmer-lists">
            <li class="user_kind"><%= link_to user.kind %></li>
            <li class="user__avataer"><%= link_to image_tag(user.avatar, class: :profile__img), user_path(user.id) %></li>
            <li class="user__name"><%= link_to user.name %></li>
            <li class="user__predecture"><%= link_to user.prefecture %></li>
            <li class="business__name"><%= link_to user.business_name %></li>
            <li class="user__profile"><%= link_to user.profile %></li>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="users-list-end-btn">
    <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
  </div>
</div>
</div>
<%= render "shared/footer" %>

<h1>DMサンプルアプリ</h1>
<% if user_signed_in? %>
<h2>Hello <%= current_user.email %></h2>
  <% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.email %>さん</a></p>
  <hr>
  <% end %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "ユーザーを登録する", new_user_registration_path %>
  <br>
  <%= link_to "ログインする", new_user_session_path %>
<% end %>