<%= render "shared/header" %>

<div class="user-profile">
  <div class="profile-heading">
    <div class="main">
      <div class="inner">
        <div class="user__wrapper">
          <div class="profile-title">
            <p>生産者のプロフィール</p>
          </div>
            <div class="red-line"></div>
          <div class="profile-image-wrapper">
            <%= image_tag @user.avatar ,class: "profile-image" %>
          </div>
          <div class="follow-info">
            <%= link_to "フォローする", root_path, class: 'follow-btn' %>
          </div>
          <!--ユーザー詳細情報-->
          <div class="user-info">
            <table class="table">
              <tbody>
                <tr>
                  <th class="table__col1">名前</th>
                  <td class="table__col2"><%= @name %></td>
                </tr>
                <tr>
                  <th class="table__col1">お住まい</th>
                  <td class="table__col2"><%= @prefecture %></td>
                </tr>
                <tr>
                  <th class="table__col1">事業者名</th>
                  <td class="table__col2"><%= @business_name %></td>
                </tr>
                <tr>
                  <th class="table__col1">プロフィール</th>
                  <td class="table__col2"><%= @profile %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--ユーザー詳細情報-->
        </div>
      </div>
    </div>
  </div>
</div>

      
    </div>
  </div>
</div>
</div>

<%= link_to "トップページに戻る", root_path %>