<%= render "shared/header" %>

<div class="user-profile">
  <div class="profile-heading">
    <div class="main">
      <div class="inner">
        <div class="user__wrapper">

 
 <% if user_signed_in? %>
     <% if current_user.id == @user.id %>
      <div class="user-edit-btn">
        <li><%=  link_to 'プロフィールを編集する', edit_user_registration_path, class: 'edit-btn' %></li>
      </div>
    <% else %>
    <% end %>
  <% end %>

        <div class="user-page-header">
          <div class="user-background-img">
            <!--背景画像-->
            <div class="user-background-image">
              <% if @user.backimage.attached? %>
              <!-- 画像が登録されている場合の処理-->
                <p><%= image_tag @user.backimage ,class: "profile-iage" %></p>
              <% else %>
              <!--画像が登録されていない場合の処理-->
              <p class="img-defo">好みの画像に変更しましょう！</p>
              <p><%= image_tag("cabbage.png", :size => "50x50") %></p>
              <% end %>
            </div>
          </div>
          <div class="user-main-image">
          <!--プロフィール画像-->
            <div class="page-title"><p>生産者のプロフィール</p></div>
            <div class="red-line"></div>
            <% if @user.backimage.attached? %>
            <div class="profile-image-wrapper">
              <%= image_tag @user.avatar ,class: "profile-image" %>
            </div>
            <% else %>
            <p class="img-defo">好みの画像に変更しましょう！</p>
            <p><%= image_tag("default_user.png",class: "profile-image") %></p>
            <% end %>
          </div>
        </div>

          
          <!--フォローボタン-->

        <div class="follow-info">
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'フォロー中', class: "followings-btn" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.relationships.build) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'フォローする', class: "followers-btn" %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="follow-counts">
          <div class="follow-count"><%=@user.followings.count %>フォロー</div>
          <div class="follow-count"><%=@user.followers.count %>フォロワー</div>
        </div>

          <!--ユーザー詳細情報-->
          <div class="user-info">
            <div class="table">
                <div class="user-info-list">
                  <div class="table__col1">名前</div>
                  <div class="table__col2"><%= @name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">お住まい</div>
                  <div class="table__col2"><%= @prefecture %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">事業者名</div>
                  <div class="table__col2"><%= @business_name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">プロフィール</div>
                  <div class="table__col3"><%= @profile %></div>
                </div>
            </div>
          </div>
          <!--ユーザー詳細情報-->


        <!--DM機能-->
        <div class="message">
          <div class="message-main">
            <b class="dm-title">DM機能</b>
            <h1></h1>
            <h2 class="dm-from-name"><%= @user.name %>さんとのチャットはこちらから</h2>

            <% if @user.id == current_user.id %>
              <% else %>
                <% if @isRoom == true %>
                  <p><a href="/rooms/<%= @roomId %>">チャットへすすむ</a>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                  <% end %>
                    <%= f.submit "チャットを始める" %>
                <% end %>
              <% end %>
            <% end %>

            <h1> </h1>
            <% if user_signed_in? %>
            
              <% else %>
            <% end %>

          </div>
        </div>
        <!--DM機能-->

      </div>
    </div>
  </div>


  <% if user_signed_in? %>
     <% if current_user.id == @user.id %>
      <div class="user-edit-btn">
        <li><%=  link_to 'プロフィールを編集する', edit_user_registration_path, class: 'edit-btn' %></li>
        <div class="home-btn">
          <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
        </div>
      </div>
    <% else %>
      <div class="home-btn">
        <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="posted-contents-wrapper">
    <div class="posted">
      <h3  class="posted-user-name"><b><%= @user.name %>さんの投稿一覧</b></h3>
      <div class="red-line"></div>
      <h2 class="posted-user-contents"></h2>
        <div class="posted-user-content">
          <% @user.posts.each do |post| %>
            <div class="posted-img-text">
              <div class="posted-img">
                <%= link_to image_tag(post.image, class: :card__img), post_path(post.id) %>
              </div>
              <div class="posted-text">
              <a href="/#/<%= post.id %>"><%= post.post_text %></a>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

<%= render "shared/footer" %>





<!--<h1>ユーザー詳細</h1>

<h2><%= @user.email %></h2>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>-->