<%= render "shared/header" %>

<div class="user-profile">
  <div class="profile-heading">
    <div class="main">
      <div class="inner">
        <div class="user__wrapper">
          <div class="page-title">
            <p>生産者のプロフィール</p>
          </div>
            <div class="red-line"></div>
          <div class="profile-image-wrapper">
            <%= image_tag @user.avatar ,class: "profile-image" %>
          </div>
          <!--フォローボタン-->

        <div class="follow-info">
          <% unless current_user == @user %>
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
              <% end %>
            <% else %>
              <%= form_for(current_user.relationships.build) do |f| %>
                <%= hidden_field_tag :follow_id, @user.id %>
                <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
              <% end %>
            <% end %>
          <% end %>
        </div>

         <div class="count"><%=@user.followings.count %></div>
         <div class="count"><%=@user.followers.count %></div>

         
          <!--ユーザー詳細情報-->
          <div class="user-info">
            <div class="table">
                <div class="user-info-list">
                  <div class="table__col1">名前</div>
                  <div class="table__col2"><%= @name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">お住まい</div>
                  <div class="table__col2"><%= @prefecture %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">事業者名</div>
                  <div class="table__col2"><%= @business_name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">プロフィール</div>
                  <div class="table__col3"><%= @profile %></div>
                </div>
            </div>
          </div>
          <!--ユーザー詳細情報-->
        </div>
        <!--DM機能-->
        <div class="message">
          <div class="message-main">
          <p>DM機能</p>
          </div>
        </div>
        <!--DM機能-->
      </div>
    </div>
  </div>


  <div class="user-edit-btn">
    <li><%=  link_to 'プロフィールを編集する', edit_user_registration_path, class: 'edit-btn' %></li>
  </div>

  <div class="home-btn">
    <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
  </div>
</div>

<h3><%= @user.last_name %></h3>
<h2>投稿内容</h2>
<% @user.posts.each do |post| %>
  <a href="/#/<%= post.id %>"><%= post.post_text %></a>
  <hr>
<% end %>

<%= render "shared/footer" %>

