<%= render "shared/header" %>

<div class="main">
  <div class="top-main-contents">

    <!--
    <div class="heading-img">
      <div class="out">
        <img src="">
        <input type=radio name="slide" id="slide1">
        <input type=radio name="slide" id="slide2">
        <input type=radio name="slide" id="slide3">
        <input type=radio name="slide" id="slide4">
        <div class="in">
            <label for="slide1"><span></span><a href="#1"><%= link_to image_tag("farmcheflogo.jpg", class:"img"), "/posts" %></a></label>
            <label for="slide2"><span></span><a href="#2"><%= link_to image_tag("owned-media.png", class:"img"), "/posts" %></a></label>
            <label for="slide3"><span></span><a href="#3"><%= link_to image_tag("post-view.png", class:"img"), "/posts" %></a></label>
            <label for="slide4"><span></span><a href="#4"><%= link_to image_tag("post-view.png", class:"img"), "/users" %></a></label>
        </div>
      </div>
    </div>
    -->
    
    <div class="service-massages">

      <div class="header-ber-lists">
        <ul class="show-lists hidden" id="pull-down">
          <li>リスト1</li>
          <li>リスト2</li>
          <li>リスト3</li>
          <li>リスト4</li>
        </ul>
      </div>
      <div class="service-massage">
        <%= link_to image_tag("top-img.png", class:"yagi-kike-img"), "/" %>

      
      <div class="arrow-area">
        <%#= link_to image_tag("yellow_grass.png", class:"yellow-grass-img"), "/" %>
      </div>
    </div>

    <div class="appeal-point">
      <%= link_to image_tag("3hair-yellow.png", class:"hair-yellow"), "/" %>
      <div class="about-service">
        <h1 class="service-title">Farmer Chefとは？</h1>
        <p class="service-description-min">湘南・西湘の生産者と料理人が、想いで繋がることができるプラットフォームです。取り引き先という関係を超えて、その地域の「美味しい」を守り、一緒に創り上げる仲間と出会えます。</p>
      </div>
    </div>

    <div class="concep-message">
          <div class="farm-chef-ex">
            <%= link_to image_tag("people-comming-hiratuka.png", class:"farm-chef-ex-img"), "/" %>
          </div>
    </div>

    <div class="service-can-do">
      <%= link_to image_tag("3hair-yellow.png", class:"hair-yellow"), "/" %>
      <div class="about-service">
          <h1 class="service-title">Farmer Chefにできること</h1>
      </div>

      <div class=first-step-content>
        <div class=step>
          <%= link_to image_tag("step1.jpg", class:"first-step-img"), "/" %>
        </div>
        <div class=text-p>
          <b class="service-description-step">生産者と料理人がつながること</b>
          <div class="under-line"></div>
          <p class="service-description-step">農家さんと料理人さんの共通の悩み、お互いをもっと知りたい！をサポートするサービス、それが「ファーマーシェフ」です。</p>
        </div>
      </div>

      <div class=second-step-content>
        <div class=text-p>
          <b class="service-description-step-sec">その地域の「美味しい」を一緒に作る</b>
          <div class="under-line-yellow"></div>
          <p class="service-description-step-sec">ファーマーシェフでピッタリな相手を見つけたら「おいしい」を一緒につくる第一歩、さっそくメッセージを送ります。</p>
        </div>
        <div class=step>
          <%= link_to image_tag("make-with-good.png", class:"make-with-good"), "/" %>
        </div>
      </div>
    </div>

    <div class=third-step-content>
      <div class=step>
        <%= link_to image_tag("with-future.png", class:"with-future"), "/" %>
      </div>
      <div class=text-p>
        <b class="service-description-step">未来を共に描く</b>
        <div class="under-line"></div>
        <p class="service-description-step">出会いを通じて誕生したお料理は特別な一品に。ファーマーシェフをきっかけに想いを共有する「仲間」を増やし、コミュニティを広げていきましょう。</p>
      </div>
    </div>

    <div class="howto-use">
          <div class="use-service">
            <%= link_to image_tag("howto-use.png", class:"howto-use-service"), "/" %>
          </div>
    </div>

    <div class="search-users">
      <div class="search-user">

        <div class="user-box-left">
          <div class="search-user-garlic-img">
            <%= link_to image_tag("garlic-and-basil.png", class:"service-massage-img"), "/" %>
            <div class="search-content">
              <p class="user-description">多様な生産者と繋がることができる。季節や地域の美味しさを味わう人へ。 様々な食材とであえます。</p>
              <div class="user-box-btn">
                <%= link_to "料理人を探す", new_user_path, class: 'test-btn3' %>
              </div>
            </div>
          </div>
        </div>

        <div class="user-box-right">
          <div class="search-user-calotte-img">
            <%= link_to image_tag("calotte.png", class:"service-massage-img"), "/" %>
            <div class="search-content">
              <p class="user-description">新しい顧客を見つけられる。規格外の野菜を売ることが可能になります。</p>
              <div class="user-box-btn">
                <%= link_to "生産者を探す", users_path, class: 'test-btn3' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="service-description">
      <b class="service-description-title">※みんなの投稿を促すメッセージを追加</b>
    </div>

    <div class="home-posts">
      <div class="card__wrapper_img">
        <h1 class="page-title" >みんなの投稿</h1>
        <div class="red-line"></div>
          <div class="card-main">
            <div class="posts-list-top">
              <% @posts.each do |post| %>

                <div class="card-contents-lists-top">

                  <div class="card-img-wrapper">
                    <div class="card-img-top">
                      <%= link_to image_tag(post.image, class: :card__img__top), post_path(post.id) %>
                    </div>
                  </div>

                  <div class="card-content-top">
                    <div class="postuser-img-name-date">
                      <div class="post-date-top">
                        <p><%= post.created_at.strftime('%Y/%m/%d') %> </p>
                      </div>
                      <div class="postuser-img-top">
 
                      <div class="postuser-name-top">
                          <%= link_to "#{post.user.name}", user_path(post.user.id), class: :card__user__top %>
                      </div>
                    </div>

                    <div class="card-text-top">
                      <%= link_to post.post_text, post_path(post.id), class: :card__text__top %>
                    </div>
                    <div class="like-count">
                       いいね! <%= post.likes.count %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="top-page-posts-btn">
      <%= link_to "全ての投稿を見る", posts_path, class: 'test-btn3' %>
    </div>



    <div class="media-img">
      <%= link_to image_tag("media-list.png", class:"media-list-img"), "/" %>
    </div>
  </div>
</div>










<%= render "shared/footer" %>2