<%= render "shared/header" %>

<div class="top-main-contents">


  <div class="heading-img">
    <div class="out">
      <img src="">
      <input type=radio name="slide" id="slide1">
      <input type=radio name="slide" id="slide2">
      <input type=radio name="slide" id="slide3">
      <input type=radio name="slide" id="slide4">
      <div class="in">
          <label for="slide1"><span></span><a href="#1"><%= link_to image_tag("farmcheflogo.jpg", class:"img"), "/posts" %></a></label>
          <label for="slide2"><span></span><a href="#2"><%= link_to image_tag("owned-media.png", class:"img"), "/posts" %></a></label>
          <label for="slide3"><span></span><a href="#3"><%= link_to image_tag("post-view.png", class:"img"), "/posts" %></a></label>
          <label for="slide4"><span></span><a href="#4"><%= link_to image_tag("post-view.png", class:"img"), "/users" %></a></label>
      </div>
    </div>
  </div>

  <div class="concep-message">
    <p>
    <br><b>農家とシェフをつなぐ</b>
    <br><b>プラットフォーム</b>
    </p>
  </div>
  <div class="service-massage">
    <%= link_to image_tag("cabbage.jpg", class:"service-massage-img"), "/" %>
  </div>

  <div class="service-description">
  </div>

  <div class="search-users">
    <div class="search-user">
      <div class="user-box">
        <p class="user-description">多様な生産者と繋がることができる。季節や地域の美味しさを味わう人へ。 様々な食材とであえます。</p>
        <div class="user-box-btn">
          <%= link_to "料理人を探す", users_path, class: 'user-btn' %>
        </div>
      </div>
      <div class="user-box">
        <p class="user-description">新しい顧客を見つけられる。規格外の野菜を売ることが可能になります。</p>
        <div class="user-box-btn">
          <%= link_to "生産者を探す", users_path, class: 'user-btn' %>
        </div>
      </div>
    </div>
  </div>

  <div class="top-page-posts-btn">
    <%= link_to "投稿一覧", posts_path, class: 'user-btn' %>
  </div>

  <div class="media-img">
    <%= link_to image_tag("media-list.png", class:"media-list-img"), "/" %>
  </div>
</div>


<%= render "shared/footer" %>2