<%= render "shared/header" %>

<h1>詳細ページ</h1>
  <div class="return_btn">
    <%= link_to"トップページに戻る", root_path %>
  </div>
<% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to @post.user.last_name , user_path, class: :hoge %>
        <div class="post__manage">
          <%= link_to "編集する",  edit_post_path, class: :post__btn %>
          <%= link_to "削除する",  post_path, method: :delete, class: :post__btn %>
        </div>
<% end %>

<div class="post_body">
  <div class="post__detail">
<%= image_tag @post.image %>
  </div>
  <div class="post__detail">
 <%=  @post.post_text %>
 </div>
</div>

<%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :comment_text, "コメント" %><br />
              <%= f.text_field :comment_text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
<% end %>

<% @comments.each do |comment| %>
  <p>
  <%= comment.comment_text %>
  <%= link_to comment.user.last_name, user_path(comment.user.id), class: :comment_user %>
  </p>
<% end %>

