
<% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to @post.user.last_name , root_path, class: :hoge %>
        <div class="post__manage">
          <%= link_to "編集する",  edit_post_path, class: :post__btn %>
          <%= link_to "削除する",  post_path, method: :delete, class: :post__btn %>
        </div>
<% end %>

<div class="post_body">
  <div class="post__detail">
<%= image_tag @post.image %>
  </div>
  <div class="post__detail">
 <%=  @post.post_text %>
 </div>
</div>


