<!DOCTYPE html>
<html>
  <head>
    <title>FarmChef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue'  %> 
  </body>
</html>
